.block-envf-slider .global-interface-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.block-envf-slider .arrow:hover,
.block-envf-slider .slidefooter-item:hover {
    animation: end-opacity 1s ease-in forwards;
}

.block-envf-slider .arrow {
    font-size: 4rem;
    text-shadow: 0 0 10px #444;
    opacity: 0.5;
}

.block-envf-slider {
    width: 100%;
    height: 60vh;
    z-index: 10;
}

.block-envf-slider .slidefooter-item {
    width: 50px;
    height: 10px;
    opacity: 0.5;
    background-color: #fff;
    box-shadow: 0 0 10px #444;
}

.block-envf-slider .text-container {
    padding-top: 20%;
}

.block-envf-slider .glide,
.block-envf-slider .glide__slides,
.block-envf-slider .glide__track,
.block-envf-slider .slide-content {
    height: 100%;
}

.block-envf-slider .slide-content {
    background-size: cover;
}

@keyframes end-opacity {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
