{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_envf_slider/slide

    Template which defines a slide into an envf_slider block

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * feeds - array: An array of RSS feeds.
    * id - int: The id of the slide.
    * title - string: The title of the slide.
    * description - string: The description of the slide.
    * imageurl - string: The url for the background image of the slide.

    Example context (json):
    {
        "id": 0,
        "title": "Title example",
        "description": "Description example",
        "imageurl": "https://example.com",
        "whitetext":"true"
    }

}}
<div id="block-envf-slider-slide-{{id}}" class="slide-content" style="background-image: url({{imageurl}});">
    <div class="text-container{{#whitetext}} text-white{{/whitetext}}" >
        <h3 class="title">{{title}}</h3>
        <p class="description">{{description}}</p>
    </div>
</div>